# Monad Testnet Private Key
PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000

# Monad Testnet RPC
RPC_URL=https://testnet-rpc.monad.xyz/

# For ABI generation and explorer verification
MONAD_EXPLORER_KEY=your_monad_explorer_api_key
